@font-face {
    font-family: LiberationSans;
    src: url(LiberationSans-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/ 
    font-family: LiberationSans;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 15px;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0;
}

header h2{
    margin-top: 0;
}

header p{
    font-size: 8px;
}

body{
    background-color: #121212;
}

.estimator{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
}

h2{
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
    font-style: italic;
    font-weight: 400;
}

.materialProperties{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    align-items: baseline;
    font-size: 16px;
}

select{
    background-color: #292929;
    border: 0;
    border-radius: 4px;
    padding: 6px;
    font-size: 16px;
    margin-left: -2px;
    flex-grow: 0;
    color: #FF7719;
}

.result{
    flex-grow: 1;
    text-align: right;
}

input{
    background-color: #292929;
    border: 0;
    border-radius: 4px;
    padding: 6px;
    font-size: 16px;
    flex-grow: 2;
    text-align: right;
    color: #FF7719;
    margin: 4px;
}

.break{
    width: 100%;
    margin: 0;
    padding: 0;
}

label{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.contentBox{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    background-color: #292929;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    flex-wrap: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

p{
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 4px;
}

#tnanoBackgroundLogo{
    position: absolute;
    width: 50%;
    height: auto;
    margin-left: 1px;
    z-index: -1;
    opacity: 0.3;
    margin-top: -5px;
}

@media (min-width:960px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        padding-top: 40px;
    }
    header{
        width: 900px;
    }
    
    .estimator{
        width: 440px;
    }

    .materialProperties{
        width: 440px;
    }

    #tnanoBackgroundLogo{
        position: absolute;
        width: 600px;
        height: auto;
        margin-left: -300px;
        z-index: -1;
        opacity: 0.3;
        margin-top: 0;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
        display: none;
    }
}